.main-part {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
}

.genetic-btn {
    height: 50px;
    margin: 10px;
}


canvas {
    background-color: #171723;
    border: #999999 2px solid;
    border-radius: 3px;
}
