.main-part {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: 90vh;
}

.main-part-p {
    transform: translateY(300px);
    font-size: 30px;
    width: 50vw;
    height: 50%;
}

